.main-student-container {
    text-align: center;
    padding: 50px;
    font-size: 20px;
  }
  
  .logout-button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .mentors-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }
  